<p class="toolbar"> 
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Calendar</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
  </p>
  <mat-grid-list cols="12" rowHeight="1:5">
    <mat-grid-tile colspan="3" class="side-bar">
        <mat-card class="demo-inline-calendar-card">
            <mat-calendar ></mat-calendar>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="9">
        <router-outlet></router-outlet>
    </mat-grid-tile>
  </mat-grid-list>
  
  
  
  
  
